/* Google fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.active_tab {
  background-color: blue;
  border-radius: 20px;
  color: white;
}

.tabs {
  font-size: small;
}

.tabs p {
  cursor: pointer;
}

.company_info img{
  object-fit: contain;
}